
body {
  font-family: Roboto, Microsoft JhengHei, serif;
}

.seat-table {
  display: none;
}

/* the slides */
.slick-slide {
  margin: 0 20px;
}
/* the parent */
/* // .slick-list {
//   margin: 0 -20px;
// } */

.event-thumbnail:hover {
  transform: scale(1.25);
  transition: all .3s ease;
}

.event-thumbnail:not(:hover ){
  transform: scale(1);
  transition: all .3s ease;
}

.custom-input.ant-input, .custom-input, .custom-input input {
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent !important;
  color: #fff !important;
  font-weight: bold;
}

.custom-input .ant-select-selector, .custom-form .ant-select-selection-search-input, .custom-form .anticon {
  background-color: transparent !important;
  color: #fff !important;
}

.custom-form label, .custom-form .ant-form-item-label {
  text-align: left;
  color: #fff;
}


.custom-form .ant-select-selector, .custom-form .ant-select-selection-search-input, .custom-form .anticon {
  background-color: transparent !important;
  color: #fff !important;

}



.custom-dropdown {
  padding: 0px;
}

.custom-dropdown .ant-select-item {
  background-color: #0e131d;
  border-bottom: 1.5px solid rgb(255, 255, 255, 0.1);
}

.custom-dropdown .ant-select-item-option-content {
  color: #fff;
  font-size: 16px;
}

.ticket-form label , .ticket-form .ant-form-item-label {
  text-align: center;
  color: #fff;
}

.custom-form .ant-radio-inner {
  background-color: transparent;
  border-color: #fff;
}

.custom-form .ant-radio-input:focus + .ant-radio-inner {
  border-color: #fff;
}

.custom-form .ant-radio-wrapper span{
  color: #fff;
}

.custom-form .ant-radio-inner::after {
  background-color: #fff;
  border-color: #fff;
}

.custom-table th, .custom-table div,  .custom-table .antd-table-cell {
  color: #fafafa;
  background-color: transparent !important ;
}

.custom-table table {
  border: 1px solid #7e96b844;
  border-radius: 15px;
}

.custom-table .ant-table-thead > tr > th, .custom-table .ant-table-tbody > tr > td {
  color: #fafafa;
  text-align: center;
  border-color: #7e96b844;
}

.custom-table .ant-table-tbody tr:last-child  td {
  border-color: transparent;
}

.custom-table tr:hover, .custom-table .ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: rgba(29, 43, 88, 0.5);
}

.custom-table .ant-pagination-item-link, .custom-table .ant-pagination-item  {
  background-color: transparent;
  border-color: #7e96b8;
}

.custom-table .ant-table-tbody > tr.ant-table-placeholder:hover > td {
  background-color: transparent;
}

.custom-table .anticon  {
  color: #7e96b8 !important;
  transform: translateY(-20%);
}

.custom-table .ant-pagination-item a {
  color: #7e96b8 !important;
}

.custom-modal .ant-modal-content {
  background-color: transparent;
  /* border: 1.5px solid #fafafa; */
  /* border-radius: 50%; */
}

.custom-modal .ant-modal-header {
  background-color: #0e131d;
  border-color: #7e96b8;
  padding: 20px 40px;
}

.custom-modal .ant-modal-title {
  color: #fff
}


.ant-form-item-children-icon {
  top: 40% !important
}

.custom-input svg {
  color: #fff;
}

/* .related-event-slider .slick-track {
  width: 80vw !important
} */

.slick-slide {
  margin: 0px
}


.custom-button {
  color: #fff;
  font-weight: 700;
  background-color: transparent;
  border-color: #fff;
}

.custom-button:hover {
  color: #0e131d;
  background-color: #fff;
  border-color: transparent;
}

.custom-font {
  font-size: 12px;
  color: #fff;
  transform: scale(0.5);
}

.ticket-col {
  color: #ffffff;
  background-color: #24a0ed;
  border: 1px solid #24a0ed;
  border-radius: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 5px 10px;
  margin: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 20px;
}

.row-display div {
  width: 60px;
  display: inline-block;
}

.ticket-dot {
  padding: 5px 8px;
  margin: 10px;
}

.ticket-row {
  display: flex;
  align-items: center;
  justify-content: center;
}


.row-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50px;
  padding-right: 10px;
}

.row-body {
  display: flex;
  align-items: center;
  justify-content: center;
}


.ticket-col:hover {
  background-color: #1f3340 !important;
  border: 1px solid #1f3340 !important;
  cursor: pointer;
}

.ticket-row-divider {
  margin: 20px;
}