
body {
  font-family: Roboto, Microsoft JhengHei, serif;
}

.seat-table {
  display: none;
}

/* the slides */
.slick-slide {
  margin: 0 20px;
}
/* the parent */
/* // .slick-list {
//   margin: 0 -20px;
// } */

.event-thumbnail:hover {
  transform: scale(1.25);
  transition: all .3s ease;
}

.event-thumbnail:not(:hover ){
  transform: scale(1);
  transition: all .3s ease;
}

.custom-input.ant-input, .custom-input, .custom-input input {
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent !important;
  color: #000 !important;
  font-weight: bold;
}

.custom-input .ant-select-selector, .custom-form .ant-select-selection-search-input, .custom-form .anticon {
  background-color: transparent !important;
  color: #000 !important;
}

.custom-form label, .custom-form .ant-form-item-label {
  text-align: left;
  color: #000;
}


.custom-form .ant-select-selector, .custom-form .ant-select-selection-search-input, .custom-form .anticon {
  background-color: transparent !important;
  color: #000 !important;

}



.custom-dropdown {
  padding: 0px;
}

.custom-dropdown .ant-select-item {
  background-color: #0e131d;
  border-bottom: 1.5px solid #000;
}

.custom-dropdown .ant-select-item-option-content {
  color: #000;
  font-size: 16px;
}

.ticket-form label , .ticket-form .ant-form-item-label {
  text-align: center;
  color: #000;
}

.custom-form .ant-radio-inner {
  background-color: transparent;
  border-color: #000;
}

.custom-form .ant-radio-input:focus + .ant-radio-inner {
  border-color: #000;
}

.custom-form .ant-radio-wrapper span{
  color: #000;
}

.custom-form .ant-radio-inner::after {
  background-color: #000;
  border-color: #000;
}

.custom-table th, .custom-table div,  .custom-table .antd-table-cell {
  color: #000;
  background-color: transparent !important ;
}

.custom-table table {
  border: 1px solid #000;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}


.custom-table .ant-table-thead > tr > th, .custom-table .ant-table-tbody > tr > td {
  color: #000;
  text-align: center;
  border-color: #000;
}

.custom-table .ant-table-tbody tr:last-child  td {
  border-color: transparent;
}




.custom-table tr:hover, .custom-table .ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: rgba(29, 43, 88, 0.5);
}


.custom-table .ant-table-tbody > tr.ant-table-row:last-child > td:first-child {
  border-bottom-left-radius: 15px;
}

.custom-table .ant-table-tbody > tr.ant-table-row:last-child > td:last-child {
  border-bottom-right-radius: 15px;
}

.custom-table .ant-pagination-item-link, .custom-table .ant-pagination-item  {
  background-color: transparent;
  border-color: #000;
}

.custom-table .ant-table-tbody > tr.ant-table-placeholder:hover > td {
  background-color: transparent;
}

.read-only .ql-editor {
  resize: none;
}

.read-only span, .read-only p, .read-only h1 {
  color: #000 !important;
  font-family: Roboto, Microsoft JhengHei, serif;
  font-size: 16px;
}

.read-only img {
  object-fit: contain;
  width: 80%;
  padding: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.read-only img:hover, .slick-active img:hover {
  transform: scale(1.05) !important;
  transition: all .3s ease;
}

.read-only img:not(:hover ), .slick-active img:not(:hover ){
  transform: scale(1) !important;
  transition: all .3s ease;
}

.custom-table .anticon  {
  color: #000;
  transform: translateY(-20%);
}

.custom-table .ant-pagination-item a {
  color: #000 !important;
}

.custom-modal .ant-modal-content {
  background-color: transparent;
  /* border: 1.5px solid #000; */
  /* border-radius: 50%; */
}

.custom-modal .ant-modal-header {
  background-color: #fff;
  border-color: #fff;
  padding: 20px 40px;
}

.custom-modal .ant-modal-title {
  color: #000
}


.ant-form-item-children-icon {
  top: 40% !important
}

.custom-input svg {
  color: #000;
}

/* .related-event-slider .slick-track {
  width: 80vw !important
} */

.slick-slide {
  margin: 0px
}


.custom-button{
  color: #000;
  font-weight: 700;
  background-color: transparent;
  border-color: #000;
}

/* .custom-button:hover {
  color: #fff !important;
  background-color: #000 !important;
  border-color: transparent !important;
} */

.custom-button:focus {
  color: #000;
  border-color: #000;
  background-color: transparent;
}

.custom-font {
  font-size: 12px;
  color: #000;
  transform: scale(0.5);
}

.custom-picker {
  border: none !important;
  border-bottom: 1px solid #000 !important;
}

.custom-picker input {
  color: #000 !important;
  font-weight: bold;
}

.form-item-image .ant-form-item-control {
  flex: auto !important;
  display: block !important;
}

.ticket-col {
  color: #000000;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 5px 10px;
  margin: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 20px;
}

.row-display div {
  width: 60px;
  display: inline-block;
}

.ticket-dot {
  padding: 5px 8px;
  margin: 10px;
}

.ticket-row {
  display: flex;
  align-items: center;
  justify-content: center;
}


.row-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50px;
  padding-right: 10px;
}

.row-body {
  display: flex;
  align-items: center;
  justify-content: center;
}


.ticket-col:hover {
  background-color: #000 !important;
  border: 1px solid #000 !important;
  cursor: pointer;
}

.ticket-row-divider {
  margin: 20px;
}

p, h1, h2, h3, h4, h5, span, a, button, input {
  color: #2b2b2b
}